/.cython_version
/build
/sage/m4
/ltmain.sh
/sage/ar-lib
/missing
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/install-sh

/bin/aclocal.m4
/bin/autom4te.cache/
/bin/configure
/bin/missing

/ext/aclocal.m4
/ext/autom4te.cache/
/ext/configure

/doc/autom4te.cache/
/doc/configure
